<html>
<head>
<link rel = "STYLESHEET" href="../css/table.css" type="text/css"/> 

</head>
<body>
<h1>Put your title here </h1>

<!--<input type="search" id="search" placeholder="Filter by Title"> -->
<table>
  <tr>
    <th style="width:50%">Column0</th>
    <th>Column1</th>
    <th>Column2</th>
    <th>Column3</th>
    <th>Column4</th>
  </tr>
  
  <tr>
    <td id="title"></td>
    <td>$2,782,275,172</td>
    <td>2009</td>
  </tr>
  
  <tr>
    <td id="title">Titanic</td>
    <td>$2,185,372,302</td>
    <td>1997</td>
  </tr>
  
  <tr>
    <td id="title">The Avengers</td>
    <td>$1,511,757,910</td>
    <td>2012</td>
  </tr>
  


    <script>
    // Quick Table Search
$('#search').keyup(function() {
  var regex = new RegExp($('#search').val(), "i");
  var rows = $('table tr:gt(0)');
  rows.each(function (index) {
    title = $(this).children("#title").html()
    if (title.search(regex) != -1) {
      $(this).show();
    } else {
      $(this).hide();
    }
  });
});
  //# sourceURL=jscript.js
  </script>


</table>
</html>

