body {
  margin:auto;
  font-family:sans;
    padding:8px;

}
h1
{  
  text-align: center;
  color:white;
  font-size: 150
 }

table {
    margin-top: 0px;
  border-collapse: collapse;
  width:100%
} th {
  font-size: 19;
  background:#F1F1FF;
  color:#000;
}
tr:nth-child(odd) {
    background-color: #F1F1FF;
}
td {
  padding:5px;
}


.text-wrapper {
  text-align: center;
  position: absolute;
  top: 0%;
  left: 22.5%;
  width: 500px;
  height: 300px;
  margin-top: 0px;
  white-space: nowrap;

}
.billboard {
  height: 380px;
  width: 100%;
  background-size: 100%;
  background-position: center;
  background-image: url("../images/vinyl.jpg");
  position: relative;
}
