<!DOCTYPE html>
<html>
    <head>
  <!-- Navbar Bootstrap javascript-->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script>


        </script>

        
        <link rel="STYLESHEET" href="css/navigation.css" type="text/css"/>
        <link rel="STYLESHEET" href="css/banner.css" type="text/css"/>
        <link rel="import" href="navbar.html">
    
<style>
        .box {
            width: 55%;
            padding: 10px;
            font-size: 25;
            background-color: #F1F1FF;
        }
        .video {
            width: 40%;
            padding: 5px;
            cursor: pointer;
        }    

 </style>
        
    <title>The Best Bands</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="../static/css/genresBootstrap.css" rel="stylesheet">
    <link rel = "STYLESHEET" href="../static/css/genresTable.css" type="text/css"/> 
        
        <link rel="STYLESHEET" href="../static/css/banner.css" type="text/css"/>
        <style>
        .box {
            width: 25%;
            border: 1px solid black;
            padding: 5px;
        }
        .box:hover {
            width: 25%;
            border: 1px dashed black;
            padding: 5px;
            cursor: pointer;
        }    
        .logo {
            width: 100%;
            max-width: 200px; 
        }
        .logo:hover {
            border: 1px dashed black;
            padding: 5px;
            cursor: pointer;
        }
        .banner {
            height: 100%;
            width: 100%;
            object-fit: contain;
            max-height: 400px;
        }
            
        </style>
    </head>
    <body>
        
                <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href={{ url_for('index') }}>thebestbands.me</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href={{ url_for('index') }}>Home</a></li>
      <li><a href={{ url_for('about') }}>About</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Labels
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href={{ url_for("label")}}>Labels Home</a></li>
         <li><a class="dropdown-item" href={{ url_for('label_defjam') }}>Def Jam</a></li>
          <li><a class="dropdown-item" href={{ url_for('label_emi')}}>Emi</a></li>
          <li><a class="dropdown-item" href={{ url_for('label_motown')}}>Motown</a></li>
            <li><a class="dropdown-item" href={{ url_for('label_ato')}}>ATO</a></li>
          <li><a class="dropdown-item" href={{ url_for('label_columbia')}}>Columbia</a></li>
          <li><a class="dropdown-item" href={{ url_for('label_sment')}}>S.M. Entertainment</a></li>
        <li><a class="dropdown-item" href={{ url_for('label_nonesuch')}}>NoneSuch</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Bands
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href={{ url_for('band')}}>Bands Home</a></li>
          <li><a class="dropdown-item" href={{ url_for('band_alabamashakes')}}>Alabama Shakes</a></li>
          <li><a class="dropdown-item" href={{ url_for('band_beatles')}}>Beatles</a></li>
          <li><a class="dropdown-item" href={{ url_for('band_jackson5')}}>Jackson 5</a></li>
          <li><a class="dropdown-item" href={{ url_for('band_theroots')}}>The Roots</a></li>
          <li><a class="dropdown-item" href={{ url_for('band_shinee')}}>SHINee</a></li>
          <li><a class="dropdown-item" href={{ url_for('band_lakestreetdive')}}>Lake Street Dive</a></li>
          <li><a class="dropdown-item" href={{ url_for('band_dixiechicks')}}>Dixie Chicks</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Genres
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href={{ url_for('Genre') }}>Genres Home</a></li>
         <li><a class="dropdown-item" href={{ url_for('Rock') }}>Rock Music</a></li>
         <li> <a class="dropdown-item"  href={{ url_for('Pop') }}>Pop Music</a></li>
          <li><a class="dropdown-item"  href={{ url_for('HipHop') }}>Hip Hop Music</a></li>
           <li>  <a class="dropdown-item"  href={{ url_for('Blues') }}>Blues Music</a></li>
         <li><a class="dropdown-item" href={{ url_for('kPop') }}>K-Pop Music</a></li>
          <li> <a class="dropdown-item" href={{ url_for('Jazz') }}>Jazz Music</a></li>
           <li>  <a class="dropdown-item" href={{ url_for('Country') }}>Country Music</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
        

        
        <div style="margin: 50px;">
            <center><b><font  size="7" face="Snell Roundhand, cursive" color="gray">thebestbands.me</font></b></center>
            <center><font  size="6" face="Snell Roundhand, cursive" color="gray">Discover Your Music Within</font></center>
        </div>

        
        
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
        <div style="height: 400px">
            
      <center><img src="../static/images/banner1.jpg" class="banner"></center>

        </div>

    </div>

    <div class="item">
        <div style="height: 400px;">
            <center><img src="../static/images/banner2.jpg" class="banner"></center>
        </div>
    </div>

    <div class="item">
        <div style="height: 400px;">
      <center><img src="../static/images/banner3.jpg" class="banner"></center>
        </div>
    </div>

    <div class="item">
        <div style="height: 400px;">
      <center><img src="../static/images/banner4.png" class="banner"></center>
        </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

        
        <form action="/textupdated" method="POST">
        
        <div class="container" style="margin-top: 20px">
  <div class="row">
    <div class="col-sm-4" style="">
        <center><a href={{url_for('band_beatles')}}><img class="logo" src="../static/images/beatles-logo.jpeg"/></a></center>
      <center><h3>The Beatles</h3></center>
                {{'<input style="width:100%" name="The Beatles" type="text" value="' + bandDict['The Beatles'] + '">' if editable else "<p>" + bandDict['The Beatles'] + "</p>"}}
    </div>
    <div class="col-sm-4" style="">
        <center><a href={{url_for('band_jackson5')}}><img class="logo" src="../static/images/jackson5-logo.jpg"/></a></center>
      <center><h3>Jackson 5</h3></center>
                {{'<input style="width:100%" name="Jackson 5" type="text" value="' + bandDict['Jackson 5'] + '">' if editable else "<p>" + bandDict['Jackson 5'] + "</p>"}}
      </div>
    <div class="col-sm-4" style="">
        <center><a href={{url_for('band_theroots')}}><img class="logo" src="../static/images/theroots-logo.jpg"/></a></center>
      <center><h3>The Roots</h3></center>
                {{'<input style="width:100%" name="The Roots" type="text" value="' + bandDict['The Roots'] + '">' if editable else "<p>" + bandDict['The Roots'] + "</p>"}}
      </div>
  </div>
</div>
        
        
                <div class="container" style="margin-top: 20px">
  <div class="row">
    <div class="col-sm-4" style="">
        <center><a href={{url_for('band_alabamashakes')}}><img class="logo" src="../static/images/alabamashakes-logo.jpg"/></a></center>
      <center><h3>Alabama Shakes</h3></center>
                {{'<input style="width:100%" name="Alabama Shakes" type="text" value="' + bandDict['Alabama Shakes'] + '">' if editable else "<p>" + bandDict['Alabama Shakes'] + "</p>"}}
    </div>
    <div class="col-sm-4" style="">
        <center><a href={{url_for('band_dixiechicks')}}><img class="logo" src="../static/images/dixiechicks-logo.jpg"/></a></center>
      <center><h3>Dixie Chicks</h3></center>
                {{'<input style="width:100%" name="Dixie Chicks" type="text" value="' + bandDict['Dixie Chicks'] + '">' if editable else "<p>" + bandDict['Dixie Chicks'] + "</p>"}}
      </div>
    <div class="col-sm-4" style="">
        <center><a href={{url_for('band_lakestreetdive')}}>   <img class="logo" src="../static/images/lakestreetdrive-logo.jpg"/></a></center>
      <center><h3>Lake Street Dive</h3></center>
        {{'<input style="width:100%" name="Lake Street Dive" type="text" value="' + bandDict['Lake Street Dive'] + '">' if editable else "<p>" + bandDict['Lake Street Dive'] + "</p>"}}
      </div>
  </div>
</div>
            <center>{{'<input style="margin: 25px" type="submit" name="my-form" value="Save Changes">' if editable else ''}}</center>
            </form>
        
        <form action="/indexedit" method="post">
            <center>{{'' if editable else '<button style="margin: 25px" type="submit">Edit Band Descriptions</button>'}}</center>
        </form>


    </body>
</html>
